* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  width: auto;
  height: 10vh;
}

header img {
  width: 4vw;
  height: auto;
  margin: 1vw;
}

h1 {
  color: #fff;
  text-decoration: underline;
  margin: 1vw;
}

ul {
  list-style: none;
  margin: 1vw;
  display: flex;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  height: 10vh;
}

footer h2 {
  color: #fff;
  padding: 1vw;
  margin: 20px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 20px;
}

/* main index */

.class-main {
  display: flex;
  width: auto;
  height: 80vh;
  background-color: rgb(150, 150, 150);
  justify-content: center;
  flex-direction: row;
}

.class-main img {
  width: auto;
  height: 65vh;
  margin: 20px;
}

.class-main p {
  padding: 1vh;
  color: black;
}

.main-texts {
  display: flex;
  flex-direction: column;
  margin: 150px 20px;
}

.carousel {
  width: 50vw;
  height: 70vh;
  overflow: hidden;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
  width: 100%;
  height: 100%;
}

/* main trabajos */

.trab-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(150, 150, 150);
}

.trab-main h2 {
  padding: 1vh;
  font-size: 2em;
  text-decoration: underline;
  margin: 20px;
}

.class-trab-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 7vw;
}

.class-trab-img img {
  width: 20vw;
}

/* main Servicios */

.serv-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80vh;
  background-color: rgb(150, 150, 150);
}

.serv-main h2 {
  padding: 10px;
}

.serv-main ul {
  display: flex;
  flex-flow: column wrap;
  list-style: inside;
}

.serv-main li {
  margin: 20px;
}

/* main Conoce */

.conoce-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80vh;
  background-color: rgb(150, 150, 150);
}

.conoce-main h2 {
  margin: 20px;
}

.conoce-main p {
  margin: 20px 250px;
}

/* main contacto */

.contacto-main {
  width: auto;
  height: 80vh;
  background-color: rgb(150, 150, 150);
}

.contacto-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-decoration: underline;
  font-size: 1.2rem;
}

.contacto-main label,
input,
textarea {
  margin: 1vh 1vw;
  padding: 1vh;
}

/* Media Queries */

@media (max-width: 944px) {
  /* main */
  .class-main {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .main-texts {
    align-items: center;
  }

  header img {
    width: 8vw;
  }

  .carousel {
    width: 97vw;
    height: 70vh;
  }

  /* Menú hamburguesa */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    background-color: cadetblue;
    position: fixed;
    top: 10vh;
    right: 0;
    width: 100%;
    z-index: 9999;
    align-items: center;
  }

  header nav a {
    font-size: 1.4rem;
  }

  header nav ul.show {
    display: flex;
  }

  footer {
    flex-direction: column;
    height: auto;
  }

  /* Trabajos */

  .class-trab-img {
    grid-template-columns: repeat(2, 1fr);
  }

  .class-trab-img img {
    width: 40vw;
  }

  /* conoce */

  .conoce-main {
    height: 80vh;
  }

  .conoce-main p {
    margin: 20px 20px;
  }
}

@media (max-width: 480px) {
  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 2vw;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: 0.4s;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    background-color: cadetblue;
    position: fixed;
    top: 10vh;
    right: 0;
    width: 100%;
    z-index: 9999;
  }

  header nav a {
  }

  header nav ul.show {
    display: flex;
  }

  /* Main */

  .carousel {
    width: 97vw;
    height: 50vh;
  }

  /* Trabajos */

  .class-trab-img {
    grid-template-columns: repeat(1, 1fr);
  }

  .class-trab-img img {
    width: 60vw;
  }

  /* Conoce */

  .conoce-main {
    height: 80vh;
  }

  .conoce-main p {
    margin: 20px 20px;
  }
}
