* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  width: auto;
  height: auto;
}

header img {
  width: 5vw;
  height: auto;
  margin: 1vw;
}

h1 {
  color: #fff;
  text-decoration: underline;
  margin: 1vw;
}

ul {
  list-style: none;
  margin: 1vw;
  display: flex;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 10px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
}

footer h2 {
  color: #fff;
  padding: 1vw;
  margin: 20px;
}

footer a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  margin: 20px;
}

/* main index */

.class-main {
  display: flex;
  width: auto;
  height: 71vh;
  background-color: rgb(150, 150, 150);
}

.class-main img {
  width: auto;
  height: 65vh;
  margin: 20px;
}

.class-main p {
  padding: 1vh;
  color: black;
}

.main-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

/* main trabajos */

.trab-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(150, 150, 150);
}

.trab-main h2 {
  padding: 1vh;
  font-size: 2em;
  text-decoration: underline;
  margin: 20px;
}

.trab-main img {
  width: 15vw;
  height: auto;
  margin: 10px;
}

.trab-main ul {
  display: flex;
  justify-content: space-between;
}

/* main Servicios */

.serv-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 71vh;
  background-color: rgb(150, 150, 150);
}

.serv-main h2 {
  padding: 10px;
}

.serv-main ul {
  display: flex;
  flex-flow: column wrap;
  list-style: inside;
}

.serv-main li {
  margin: 20px;
}

/* main Conoce */

.conoce-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 71vh;
  background-color: rgb(150, 150, 150);
}

.conoce-main h2 {
  margin: 20px;
}

.conoce-main p {
  margin: 20px 250px;
}

/* main contacto */

.contacto-main {
  width: auto;
  height: 71vh;
  background-color: rgb(150, 150, 150);
}

.contacto-main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-decoration: underline;
  font-size: 1.2rem;
}

.contacto-main label,
input,
textarea {
  margin: 1vh 1vw;
  padding: 1vh;
}
