@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.flex2 ul li .nav2, .flex ul li .nav {
  font-family: "Rowdies", sans-serif;
  color: white;
  text-decoration: none;
}

.flex2 ul li .nav2:hover, .flex ul li .nav:hover {
  color: yellow;
  border: 1px solid yellow;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
}
.flex .logito {
  width: 5vw;
}
.flex .title {
  text-decoration: underline;
  font-family: "Rowdies", sans-serif;
  color: white;
}
.flex ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
}
@media (max-width: 480px) {
  .flex {
    flex-direction: column;
  }
  .flex .logito {
    width: 6vh;
  }
  .flex ul {
    justify-content: start;
    gap: 15px;
  }
}

.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cadetblue;
}
.flex2 .title {
  font-family: "Rowdies", sans-serif;
  color: white;
  margin: 10px;
}
.flex2 ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
@media (max-width: 480px) {
  .flex2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flex2 .title {
    text-align: center;
  }
  .flex2 ul {
    gap: 15px;
  }
}

.class-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.class-main .carousel {
  width: 40vw;
  margin: 10px;
}
.class-main .main-texts {
  font-family: "Rowdies", sans-serif;
  color: white;
}
@media (max-width: 480px) {
  .class-main {
    flex-direction: column;
    gap: 50px;
  }
  .class-main .carousel {
    width: 95vw;
  }
}
@media (max-width: 980px) {
  .class-main {
    flex-direction: column;
    gap: 50px;
  }
  .class-main .carousel {
    width: 95vw;
  }
}

.conoce-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conoce-main h2 {
  text-decoration: underline;
  margin: 20px;
  font-family: "Rowdies", sans-serif;
  font-size: 1.7rem;
}
.conoce-main p {
  font-family: "Rowdies", sans-serif;
  color: white;
  width: 40vw;
  margin: 50px;
  font-size: 1.2rem;
}
.conoce-main iframe {
  margin: 20px;
}
@media (max-width: 480px) {
  .conoce-main p {
    width: 80vw;
  }
  .conoce-main iframe {
    width: 80vw;
  }
}

.serv-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.serv-main h2 {
  margin: 20px;
  font-family: "Rowdies", sans-serif;
  font-size: 1.7rem;
}
.serv-main ul {
  margin: 30px;
}
.serv-main ul li {
  margin: 20px;
  font-family: "Rowdies", sans-serif;
  color: white;
  font-size: 1rem;
}

.trab-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trab-main h2 {
  margin: 20px;
  text-decoration: underline;
  font-family: "Rowdies", sans-serif;
}
.trab-main .galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80vh;
  gap: 20px;
}
.trab-main .galeria img {
  width: 20vw;
  margin: 10px;
}
@media (max-width: 980px) {
  .trab-main .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40vh;
  }
  .trab-main .galeria img {
    width: 25vw;
  }
}
@media (max-width: 480px) {
  .trab-main .galeria {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 70vh;
  }
  .trab-main .galeria img {
    width: 80vw;
  }
}

.contacto-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto-main h2 {
  margin: 20px;
  font-family: "Rowdies", sans-serif;
}
.contacto-main p {
  width: 30vw;
  text-align: center;
  font-size: 1.1rem;
  margin: 30px;
  font-family: "Rowdies", sans-serif;
  color: white;
}
.contacto-main .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contacto-main .formulario .item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}
.contacto-main .formulario .item label {
  font-family: "Rowdies", sans-serif;
  text-decoration: underline;
  font-size: larger;
  margin: 10px;
}
.contacto-main .formulario .item input {
  padding: 10px;
}
.contacto-main .formulario .item textarea {
  padding: 20px;
}
.contacto-main .formulario .buttoms {
  display: flex;
  gap: 50px;
}
.contacto-main .formulario .buttoms input {
  font-family: "Rowdies", sans-serif;
  color: white;
  padding: 10px;
  font-size: larger;
  background-color: black;
}
@media (max-width: 480px) {
  .contacto-main h2 {
    font-size: 1.7rem;
  }
  .contacto-main p {
    width: 80vw;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
